<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Task App</title>

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- App Styles -->
    <link rel="stylesheet" href="styles/style.css">

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <!-- Code Behind -->
    <script src="app/todoApp.module.js"></script>
    <script src="app/todoApp.controller.js"></script>
    <script src="app/storage.service.js"></script>    
    <script src="app/components/customList.directive.js"></script>
    <script src="app/components/customGrid.directive.js"></script>
    <script src="app/components/categoryList.directive.js"></script>
      <script src="app/todoItem.service.js"></script>

</head>

<body ng-app="todoApp" class="no-scroll">
    <div ng-controller="TodoController as ctrl" class="no-scroll">
        
        <div  class="no-scroll">
            <md-toolbar class="md-whiteframe-3dp">
                <div class="md-toolbar-tools">
                     
                    <h2>
                        <span>App</span>
                    </h2>
                    <span flex></span>

                       <md-button ng-click="ctrl.toggleSearch()" class="md-icon-button" aria-label="Search">
                        <md-icon> search </md-icon>
                    </md-button>                     
                    
                    <div ng-show="ctrl.search">
                        <input  type="search">
                    </div>

                    <md-button ng-click="ctrl.setView()" class="md-icon-button" aria-label="Grid">
                        <md-icon > {{ctrl.view}} </md-icon>
                    </md-button>


                    <md-button ng-disabled="ctrl.selectedItem == null" ng-click="ctrl.deleteItem()" class="md-icon-button" aria-label="Delete">
                        <md-icon> delete </md-icon>
                    </md-button>

                    
                </div>
            </md-toolbar>


              
           
             <!-- lista delle categorie-->
            <md-content class="no-scroll " >
                
                    <!-- direttiva per visionare la lista delle categorie-->
                   <category-list view = "ctrl.view" selected-category="ctrl.selectedCategory" items="ctrl.items" selected-item="ctrl.selectedItem" filter-function="ctrl.notDone" lista-categorie = "ctrl.listaCategorie"> </category-list>                    
              
                <md-button class="md-fab md-primary add-button" aria-label="Add Todo" ng-click="ctrl.addTaskForm()">
                    <md-icon>add</md-icon>
                </md-button>
            </md-content>

        </div>
       
    </div>
</body>

</html>