<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DISNOTE</title>

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- App Styles -->
    <link rel="stylesheet" href="styles/style.css">

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="http://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>

    
    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <!-- Code Behind -->
    <script src="app/todoApp.module.js"></script>
    <script src="app/todoApp.controller.js"></script>
    <script src="app/storage.service.js"></script>    
    <script src="app/components/customList.directive.js"></script>
    <script src="app/components/customGrid.directive.js"></script>
    <script src="app/components/categoryList.directive.js"></script>
    <script src="app/components/customNote.directive.js"></script>
    <script src="app/todoItem.service.js"></script>
    <script src="app/notePanel.service.js"></script>
    <script src="app/components/custumList.filter.js"></script>

</head>

<body ng-app="todoApp" class="no-scroll">
    <div ng-controller="TodoController as ctrl" class="no-scroll">
        
        <div  class="no-scroll">
            <md-toolbar class="md-whiteframe-3dp">
                <div class="md-toolbar-tools">
                     
                    <h2>
                        <span>DISNOTE</span>
                    </h2>
                    <span flex></span>
                        <md-button ng-click="ctrl.toggleNoteTask()" class="md-button" aria-label="Note">
                       {{ctrl.noteTask}}
                    </md-button> 

                       <md-button ng-click="ctrl.toggleSearch()" class="md-icon-button" aria-label="Search">
                        <md-icon> search </md-icon>
                    </md-button>                     
                    


                    <md-input-container class="md-block" ng-show="ctrl.search" flex-sm>
                        <label>Cerca per</label>
                        <md-select ng-model="ctrl.cercaPer">
                        <md-option  ng-repeat="cerca in ctrl.vettoreCercaPer" ng-value="cerca"  >
                            {{cerca.abbrev}}
                        </md-option>
                        </md-select>
                    </md-input-container>

                    <div ng-show="ctrl.search" >
                        <input type="search" ng-model="ctrl.inputSearch">
                    </div>

                    <md-button ng-click="ctrl.setView()" class="md-icon-button" aria-label="Grid">
                        <md-icon > {{ctrl.view}} </md-icon>
                    </md-button>
              </div>
            </md-toolbar>

      
             <!-- lista delle categorie-->

                    <!-- direttiva per visionare la lista delle categorie
                        dentro abbiamo view list e view grid per i task -->
                    <category-list ng-show="ctrl.noteTask=='Note'" view = "ctrl.view" selected-category="ctrl.selectedCategory" input-search="ctrl.inputSearch"  cerca-per="ctrl.cercaPer"> </category-list>                    
                    
                    <!-- vista note-->

                    <!-- vista list-->
                    <custom-note type="customNoteList" items="ctrl.listNote"  ng-show="ctrl.noteTask=='Task' && ctrl.view=='apps'" input-search="ctrl.inputSearch" cerca-per="ctrl.cercaPer"> </custom-note>          
                   <!-- vista grid-->
                    <custom-note type="customNoteGrid" items="ctrl.listNote"  ng-show="ctrl.noteTask=='Task' && ctrl.view=='list'" input-search="ctrl.inputSearch" cerca-per="ctrl.cercaPer" > </custom-note>          

               
        </div>
       
    </div>
</body>

</html>