    <!-- menu' a tendina-->

<md-menu-bar class="floatSx">
          <md-menu>
            <button ng-click="$mdOpenMenu()">
              <md-icon>menu</md-icon>
            </button>
            <md-menu-content>
              <md-menu-item>
                <md-menu>
                  <md-button ng-click="$mdOpenMenu()">New</md-button>
                  <md-menu-content>
                      <md-menu-divider></md-menu-divider>
                    <md-menu-item><md-button ng-click="categoryListCtrl.addCategory($event)">Category</md-button></md-menu-item>
                    <md-menu-divider></md-menu-divider>
                  </md-menu-content>
                </md-menu>
              </md-menu-item>
             
              <md-menu-item> <md-button ng-disabled="categoryListCtrl.selectedCategory == null" ng-click="categoryListCtrl.renameCategory()"> Rename Category</md-button></md-menu-item>
              <md-menu-item> <md-button ng-disabled="categoryListCtrl.selectedCategory == null"  ng-click="categoryListCtrl.removeCategory()"> Remove Category</md-button></md-menu-item>
              <md-menu-divider></md-menu-divider>
              
            </md-menu-content>
          </md-menu>
  </md-menu-bar>
    <!-- fine menu' a tendina-->
   
<md-tabs md-dynamic-height md-border-bottom class="no-scroll" >
    <md-tab class="floatSx" ng-repeat="categoria in categoryListCtrl.listaCategorie" label="{{categoria.category}} " ng-click="categoryListCtrl.selectCategory(categoria)" >
        <md-tabs md-dynamic-height md-border-bottom class="no-scroll coloreScuro " style="padding-left: 2em;" >
         <md-tab label="Todo">
                <custom-list  type = "customList" lista-categorie=" categoryListCtrl.listaCategorie" items="categoryListCtrl.items" ng-show="categoryListCtrl.view == 'apps'"  categoria= "categoria.category"  filter-function="categoryListCtrl.notDone" imput-search="categoryListCtrl.inputSearch" cerca-per="ctrl.cercaPer" ></custom-list>
                <custom-list  type = "customGrid"  lista-categorie=" categoryListCtrl.listaCategorie"  items="categoryListCtrl.items" ng-show="categoryListCtrl.view == 'list'"  categoria= "categoria.category"  filter-function="categoryListCtrl.notDone" imput-search="categoryListCtrl.inputSearch" cerca-per="ctrl.cercaPer"></custom-list>
            </md-tab>
            <md-tab  label="Done">
                <custom-list  type = "customList" lista-categorie=" categoryListCtrl.listaCategorie" items="categoryListCtrl.items" ng-show="categoryListCtrl.view == 'apps'"  categoria= "categoria.category"  filter-function="categoryListCtrl.done" imput-search="categoryListCtrl.inputSearch" cerca-per="ctrl.cercaPer"></custom-list>
                <custom-list  type = "customGrid"  lista-categorie=" categoryListCtrl.listaCategorie"  items="categoryListCtrl.items" ng-show="categoryListCtrl.view == 'list'"  categoria= "categoria.category"  filter-function="categoryListCtrl.done" imput-search="categoryListCtrl.inputSearch" cerca-per="ctrl.cercaPer"></custom-list>
            </md-tab>
            <md-tab  label="All">
                <custom-list  type = "customList" lista-categorie=" categoryListCtrl.listaCategorie" items="categoryListCtrl.items" ng-show="categoryListCtrl.view == 'apps'"  categoria= "categoria.category"  filter-function="categoryListCtrl.all" imput-search="categoryListCtrl.inputSearch" cerca-per="ctrl.cercaPer"></custom-list>
                <custom-list  type = "customGrid"  lista-categorie=" categoryListCtrl.listaCategorie"  items="categoryListCtrl.items" ng-show="categoryListCtrl.view == 'list'"  categoria= "categoria.category"  filter-function="categoryListCtrl.all" imput-search="categoryListCtrl.inputSearch" cerca-per="ctrl.cercaPer"></custom-list>
            </md-tab>           
        </md-tabs>       
    </md-tab>    
</md-tabs>




        

